.home-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-image: url(""); */
    background-color: rgb(239, 243, 253);
}

.home-section div{
   display: flex;
   justify-content: center;
   align-items: center;
}
.home-left-container{
   flex-direction: column;
   align-items: flex-end !important;
   margin-right: 3rem ;
}
.home-right-container{
   justify-content: left !important;
   margin-left: 3rem;
}

.icon {
   color: var(--primaryColor);
   margin-right: 12px;
   cursor: pointer;
   padding: 6px;
   border-radius: 50%;
}
.icon:hover {
   background-color: var(--primaryColor);
   color: white;

}

.line{
   background-color:  var(--primaryColor);
   height: 2px;
   width: 400px;
    
    margin-right: 10px;
}
.social-container{
   display: flex;
   justify-content: left !important;
   gap: 10px;
   /* background-color: aqua; */
}