
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-sub-container{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.sub-container-left{
    width: 100%;
   
}

.sub-container-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-name{
    display: flex;
    width: 25vw;
    height: 60px;
    justify-content: space-between;
}

h6 {
    font-size: 1rem;

}

progress {
    width: 25vw;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: var(--hEffect);
}

progress::-webkit-progress-value {
    background-color: var(--primaryColor);
}



.about-details{
    display: flex;

    align-items: center;
    gap: 10px;
 
    height: 40px;
}

h6 {
    font-size: 0.8rem;
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.gray {
    color: gray;
}


@media (max-width: 1300px) {
    .about-sub-container{
        width: 100%;
        margin-left: 1rem;
    }
    
}